* {
    box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
@font-face {
    font-family: "Graphik Kinopoisk LC Web";
    src: url("../fonts/18.eot?#iefix") format("embedded-opentype"), url("../fonts/80.woff2") format("woff2"), url("../fonts/d6.woff") format("woff");
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: "Graphik Kinopoisk LC Web";
    src: url("../fonts/e2.eot?#iefix") format("embedded-opentype"), url("../fonts/bb.woff2") format("woff2"), url("../fonts/fa.woff") format("woff");
    font-style: normal;
    font-weight: 500;
}
@font-face {
    font-family: "Graphik Kinopoisk LC Web";
    src: url("../fonts/52.eot?#iefix") format("embedded-opentype"), url("../fonts/0f.woff2") format("woff2"), url("../fonts/37.woff") format("woff");
    font-style: normal;
    font-weight: 700;
}
body {
    font-family: 'Tahoma', 'Verdana', Arial;
    line-height: 1;
    color: #333;
    background: #000 /*url("../img/bg.png") center top no-repeat*/;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a {
    text-decoration: none;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
.hide {
    display: none;
}
.main-centered-container {
    width: 850px;
    margin: 0 auto;
}
.centered {
    margin-left: auto;
    margin-right: auto;
}
img {
    max-width: 100%;
    height: auto;
}

.main-header .bottom-header {
    background: #414141;
}
.main-header,
.main-header a {
    font-size: 14px;
    font-weight: 500;
    color: #c6c6c6;
}
.main-header .main-trailer {
    display: block;
    height: 210px;
}
.main-header .searching-panel {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 67px;
    border-bottom: 1px solid #555;
}
.main-header .logo {
    font-family: "Arial";
    font-size: 30px;
    font-weight: 900;
    color: #fff;
}
.main-header .search-form {
    position: relative;
    display: inline-block;
    width: 360px;
    height: 35px;
    margin-left: 30px;
    margin-right: 25px;
    background: #fff;
    border-radius: 3px;
}
.main-header .search-form input[type="text"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 280px;
    height: 100%;
    padding-left: 15px;
    font-size: 14px;
    color: #b1b1b1;
    background: none;
    border: 0;
}
.main-header .search-form .extended-search {
    display: inline-block;
    height: 100%;
    width: 35px;
    margin-left: 285px;
    background: url("../img/icons/allSearch.svg") no-repeat center;
    opacity: .4;
}
.main-header .search-form .search-button{
    position: absolute;
    top: 0;
    right: 5px;
    height: 100%;
    width: 35px;
    background: url("../img/icons/search.svg") no-repeat center;
    opacity: .4;
    border: 0;
}
.main-header .searching-panel .view-label {
    position: relative;
    display: inline-block;
    width: 125px;
    height: 20px;
    text-align: right;
}
.main-header .searching-panel .view-label:before {
    position: absolute;
    left: 0px;
    top: -2px;
    content: "";
    width: 20px;
    height: 20px;
    background: url("../img/icons/viewLabel.svg")center no-repeat;
    opacity: .7;
}
.main-header .user-menu {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-left: 20px;
    background: url("../img/icons/userpic.svg") center no-repeat;
}
.main-header .main-tabs {
    position: relative;
    height: 53px;
}
.bottom-header__tab-list {
    display: flex;
    justify-content: space-between;
    width: 370px;
    height: 100%;
}

.bottom-header__tab-link {
    display: inline-block;
    height: 100%;
    line-height: 53px;
}
.bottom-header__tab-list .hidden-tab {
    display: none;
    position: absolute;
    top: 53px;
    left: 0;
    width: 100%;
    border: 1px solid black;
    background: #f2f2f2;
}

.bottom-header__tab-list .hidden-tab a {
    color: #000;
}
.bottom-header__tab-list .hidden-tab a:hover {
    color: #f60;
}
.bottom-header__tab-list li:hover .hidden-tab {
    display: block;
}

.bottom-header .hidden-tab .tab-left,
.bottom-header .hidden-tab .tab-right {
    padding: 30px;
}
.bottom-header .hidden-tab .tab-left {
    float: left;
    width: 210px;
    line-height: 24px;
}
.bottom-header .hidden-tab .tab-right {
    float: right;
    width: 638px;
    background: #fff;
}
.bottom-header .tab-right .article-preview {
    position: relative;
    float: left;
    width: 125px;
    margin-right: 25px;
}
.bottom-header .article-preview__rating,
.bottom-header .article-preview__expectation {
    position: absolute;
    top: 5px;
    left: -5px;
    height: 18px;
    text-align: center;
    font-size: 11px;
    font-weight: bold;
    line-height: 18px;
    border-radius: 1px;
}
.bottom-header .hidden-tab .tab-right .article-preview:last-child {
    margin-right: 0;
}
.bottom-header .movie-item .article-preview,
.bottom-header .magazine-item .article-preview {
    width: 180px;
    margin-right: 15px;
}
.bottom-header .movie-item .article-preview:last-child,
.bottom-header .magazine-item .article-preview:last-child {
    /*margin-right: 0;*/
}
.bottom-header .tab-right-title {
    margin-bottom: 30px;
    font-family: "Graphik Kinopoisk LC Web", Arial, sans-serif;
    color: #777;
}
.article-preview__popup-trailer.white-popup {
    width: 950px;
    height: 535px;
    background: #000;
}
.article-preview__popup-trailer .popup-left {
    float: left;
    height: 100%;
    width:592px;
    padding-top: 100px;
}
.article-preview__popup-trailer .popup-right {
    float: right;
    height: 100%;
    width:358px;
    background: #333;
}
.article-preview__popup-trailer .popup-right .poster-item,
.article-preview__popup-trailer .popup-right .view-more-scrolling {
    padding: 25px;
}
.article-preview__popup-trailer .popup-right .poster-item {
    height: 178px;
    border-bottom: 1px solid #555;
}

.bottom-header .article-preview__img {
    position: relative;
    display: block;
    width: 125px;
    height: 185px;
    margin-bottom: 15px;
    overflow: hidden;
    border-radius: 3px;
}
.article-preview__popup-trailer .poster-item__poster {
    float: left;
    width: 90px;
    height: 135px;
    margin-right: 15px;
    overflow: hidden;
}
.article-preview__popup-trailer .poster-item__year {
    font-size: 11px;
    color: #aaa;
}
.article-preview__popup-trailer .poster-item__title-eng {
    font-size: 15px;
    color: #aaa;
}
.article-preview__popup-trailer .poster-item__title-rus {
    display: block;
    margin-top: 5px;
    margin-bottom: 15px;
    font-size: 20px;
    line-height: 1.2;
    color: #fff;
}
.article-preview__popup-trailer .poster-item__expectation {
    font-size: 18px;
    font-weight: 500;
    color: #3bb33b;
}
.article-preview__popup-trailer .view-more-scrolling {
    padding-bottom: 0;
    color: #aaa;
    overflow: hidden;
}
.article-preview__popup-trailer .view-more-container {
    height: 300px;
    width: 372px;
    margin-top: 10px;
    margin-left: -25px;
    overflow: auto;
}

.article-preview__popup-trailer .view-more-item {
    display: block;
    width: 100%;
    height: 80px;
    padding-top: 12px;
    padding-bottom: 12px;
}
.article-preview__popup-trailer .view-more-item:hover {
    background: #444;
}
.article-preview__popup-trailer .view-more-item__img {
    float: left;
    width: 100px;
    height: 56px;
    margin-right: 15px;
    margin-left: 25px;
    overflow: hidden;
}
.article-preview__popup-trailer .view-more-item__title {
    margin-bottom: 10px;
    font-size: 15px;
    color: #fff;
}
.article-preview__popup-trailer .view-more-item__view-count {
    font-size: 13px;
    color: #aaa;
}
.bottom-header .movie-item .article-preview__button {
    /*display: none;*/
    /*position: absolute;*/
    /*top: 0;*/
    /*bottom: 0;*/
    /*left: 0;*/
    /*right: 0;*/
    /*margin: auto;*/
    /*width: 44px;*/
    /*height: 44px;*/
    /*background: rgb(51,51,51);*/
    /*border-radius: 22px;*/
}
.movie-item .article-preview__img:hover .article-preview__button {
    display: block;
}
.movie-item .article-preview__img:hover .article-preview__play-icon {
    display: block;
}
.hover-darken {
    background: #000;
}
.hover-darken:hover img,
.playbill-item .article-preview:hover .hover-darken img {
    opacity: 0.5;
}

.movie-item .article-preview__img:hover .article-preview__button {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /*display: none;*/
    width: 44px;
    height: 44px;
    margin: auto;
    border-radius: 22px;
    background: rgb(51,51,51) url("../img/icons/triangle_white.png") 60% center no-repeat;
}
.bottom-header .movie-item .article-preview__button:hover {
    width: 48px;
    height: 48px;
    background-color: rgba(68,68,68,0.9);
    border-radius: 24px;
    transition: height, width, 100ms linear 0s;
}

.bottom-header .movie-item .article-preview__img,
.bottom-header .magazine-item .article-preview__img {
    width: 180px;
    height: 100px;
}

.bottom-header .article-preview__img img {
    height: 100%;
}

.bottom-header .movie-item .article-preview__img img {
    width: 100%;
    height: auto;
}

.bottom-header .article-preview__title {
    display: block;
    margin-bottom: 5px;
}
.bottom-header .article-preview__genre {
    font-size: 12px;
    color: #888888;
}
.bottom-header .article-preview__rating {
    width: 32px;
    color: #fff;
    background: #aaa;
}
.bottom-header .article-preview__expectation {
    width: 40px;
    color: #3bb33b;
    background: #fff;
    box-shadow: -1px 1px 1px rgba(0,0,0,0.2);
}
.bottom-header .online-item li:last-child {
    margin-top: 20px;
}
.bottom-header .online-item li:last-child a {
    color: #f60;
}

.main-content a {
    font-family: Arial;
    font-style: 12px;
    line-height: 16px;
}