.a {background-color: #414141}
.b {background-color: #b1b1b1}
.c {background: #333333;}
.d {
    background: rgb(0,0,119)}
e a:hover {color: #f60;}
f {color: #aaa;}
e {color: #3bb33b;}
/***** project colors ****/